body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  background: linear-gradient(180deg, #000040, #000080, #0000bf, #0000ff); /* Night sky gradient */
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.selected {
  background-color: #00FF00; /* Change to the color you want for selected button */
}

#selectedSong {
  color: #00FF00; /* Change to the color you want for selected song */
}
